@model IEnumerable<citas.Models.Cita>

@{
    ViewData["Title"] = "Citas";
}
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Buscar" class="btn btn-default" />
        </p>
    </div>
</form>
<div class="table-responsive-sm">
    <table class="table table-hover">
        <thead class = "thead-dark">
            <tr>
                <th>
                    <a style="color:white" asp-action="Index" asp-route-sortOrder="@ViewData["Medicos_Nombres_asc"]">@Html.DisplayNameFor(model => model.Medicos.Nombres)</a>
                </th>
                <th>
                    <a style="color:white" asp-action="Index" asp-route-sortOrder="@ViewData["NombreCliente_asc"]">@Html.DisplayNameFor(model => model.NombreCliente)</a>
                </th>
                <th>
                    <a style="color:white" asp-action="Index" asp-route-sortOrder="@ViewData["FechaCita_asc"]">@Html.DisplayNameFor(model => model.FechaCita)</a>
                </th>
                <th>
                    <a style="color:white" asp-action="Index" asp-route-sortOrder="@ViewData["Tipo_asc"]">@Html.DisplayNameFor(model => model.Tipo)</a>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Medicos.Nombres)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreCliente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaCita)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tipo)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdCita">Editar</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdCita">Borrar</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>